{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "crlf"
}